.nav{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.navLeft h3{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0px;
    font-size: 30px;
    color: white;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRight ul{
    display: flex;
    list-style: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}


.navRight a{
    margin: 5px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top:5px;
    font-weight: bold;
    font-size:18px;
}

header{
    background-color: rgb(63, 63, 170);

    
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.466);
}

@media(max-width:991px){
    header{
        height:auto;
    }
    .slogan{
        margin-top: 0px;
    }
    .navRight a{
        margin: 0px;
    }
    .navRight ul{
        flex-direction: column;
    }
    .navLeft h3{
        font-size: 25px;
        margin-bottom: 8px;
    }
    .nav{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .card{
        margin-top: -20px;
    }

}

.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 50px;
}

.slogan > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:45px;
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.267);
    margin: 5px 5px;
}

.slogan h2:nth-child(2){
    color: orange;
}

.slogan div:nth-child(2){
    width: 50%;
    color: white;
    text-align: center;
}

.slogan button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 150px;
    margin: 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
    transition: all .3s ease-in-out;
    padding: 7px;
}

.slogan button:first-child{
    background-color:blue;
    box-shadow: 0px 10px 40px 1px rgba(0, 0, 255, 0.315);
}

.slogan a{
    color: #fff;
    text-decoration: none;
}

.slogan button:last-child{
    background-color:orange;
    box-shadow: 0px 10px 40px 1px rgba(255, 166, 0, 0.247);
}

.slogan button:hover{
    filter: brightness(90%);
}

.slogan i{
    margin-left: 5px;
    margin-right: 5px;

}